[submodule "playqmlright"]
	path = third_party/playqmlright
	url = https://github.com/nocanstillbb/playqmlright.git
[submodule "prism_all"]
	path = third_party/prism_all
	url = https://github.com/cpp-prism/prism_all.git
